/* .borderBoxBg {
  background-color: #0f230f;
  border-radius: 10px;
  padding: 20px;
  color: white;
  margin: 5px;
  width: 90%;
  min-width: 200px;
  max-width: 1000px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  gap: 10px;
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.5), 3px 3px 10px rgba(0, 0, 0, 0.5);
} */

/* .borderBoxGlass {
  width: 490px;
  height: auto;
  justify-content: center;
  background-image: url("../../../public/scribble-light.png");
  background-color: rgb(4, 24, 1);
  border: 1px rgba(197, 197, 197, 0.507) double;
  backdrop-filter: blur(40px);
  border-radius: 50px;
  box-shadow: 1px 1px 10px 1px inset rgba(128, 128, 128, 0.39);
  display: grid;
  justify-items: center;
  margin: .5rem;
  gap: 5px;
} */

.borderBoxBg {
  background: radial-gradient(#6eae6e99 10%, #0F230Fc7 90%);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  padding: 20px;
  color: white;
  margin: 15px;
  width: 90%;
  height: 36rem;
  min-width: 200px;
  max-width: 1000px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  gap: 30px;
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.5), 3px 3px 10px rgba(0, 0, 0, 0.5);
}



.cardBgBox {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 420px;
  width: 400px;
  margin: 1.7rem 0;
  /* background-image: url("../../../public/image-3.webp"); */
  backdrop-filter: blur(12px);
  border: 2px inset rgba(179, 122, 0, 0.568);
  box-shadow: 4px 7px 15px 2px rgb(19, 19, 19);
}

.cardBg {
  max-width: 400px;
  height: 415px;
  background: linear-gradient(to right top, #f5c14742, #5e45096c);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px inset rgba(245, 245, 245, 0.5);
  border-radius: 50px;
  box-shadow: 2px 0px 2px 2px outset rgb(19, 19, 19); /* rgba(128, 128, 128, 0.671) */
  z-index: -50;
}

.card {
  width: 400px;
  height: 420px;
  background-color: rgba(167, 206, 149, 0.192);
  backdrop-filter: blur(1px);
  word-wrap: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px inset;
  border-radius: 50px;
  box-shadow: 0px 3px 3px 2px inset rgba(128, 128, 128, 0.671); /* rgba(128, 128, 128, 0.671) */
  padding: 10px;
  z-index: 10;
}

.card span {
  display: flex;
  word-break: break-word;
  justify-content: center;
  text-align: center;
  font-style: italic;
}

.card u {
  font-weight: bold;
  font-size: xx-large;
}

.card b {
  font-size: xx-large;
}

.card a {
  font-family: lobster, 'Courier New', Courier, monospace;
  font-size: larger;
  font: 700;
  z-index: 100;
  word-break: break-word;
  justify-content: center;
  text-align: center;
  margin-bottom: .8rem;
}

.card h2 {
  text-decoration: underline;
  font-weight: bold;
  margin: .8rem;
}

.card h1 {
  text-decoration: underline;
  font-weight: bold;
  /* word-break: break-word;
  word-wrap: normal; */
  text-align: center;
}

.mapUrlBox {
  justify-content: center;
  align-items: center;
}

.test {
  color: rgb(1, 1, 1);
}

.swiper {
  width: 400px;
  height: 430px;
  margin: 10px;
}

.swiper img {
  object-fit: cover;
  width: 400px;
  height: 620px;
}

.swiperSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70% !important;
  /* border-radius: 18px; */
}

/* .swiperWrapper */

/* .customSwiperWrapper {
  height: 70% !important;
} */
