.borderBox {
  border: 3px rgba(165, 165, 165, 0.527) double;
  border-radius: 50px;
  box-shadow: 1px 1px 10px 1px inset rgba(128, 128, 128, 0.39);
  display: grid;
  justify-items: center;
  padding: 10px;
  margin: 10px;
  gap: 5px;
}

.card {
  max-width: 400px;
  height: 350px;
  word-wrap: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px inset;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 1px inset rgba(128, 128, 128, 0.671);
  margin: 5px;
  padding: 10px;
}

.card span {
  display: flex;
  word-break: break-word;
  justify-content: center;
  text-align: center;
}

.card u {
  font-weight: bold;
}

.mapUrlBox {
  justify-content: center;
  align-items: center;
}

