.navbar {
  display: flex;
  color: white;
  background-color: #0F230F;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 20;
  box-shadow: 3px 3px 5px black;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  height: 40px;
}

.navbar>img {
  width: 50px;
  height: auto;
  margin-left: .5rem;
  transform: rotate(45deg);
}

.navbar hr {
  height: 30px;
}

.navbar li a {
  transition: 1s;
  text-decoration: none;
  color: white;
}

.navbar li {
  text-align: center;
  transition: .5s;
}

.navbar li:hover {
  transform: scaleZ(2);
  transform: scale(1.15);
}

.navbar li:last-of-type {
  margin-right: 1rem;
}

.navbar a:hover {
  text-shadow: 0px 0px 3px black;
}

.pageContent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 0;
}




@media only screen and (max-width: 500px) {
  .navbar ul {
    gap: 5px;
    right: 0px;
  }

  .navbar a {
    font-size: small;
  }

  .pageContent {
    top: 50px
  }

}