.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  max-width: 800px;
  gap: 10px;
  border-radius: 20px;
  background: linear-gradient(180deg, #6eae6e99, #0F230Fc7);
  box-shadow: 20px 20px 60px #0F230Fc7, -20px -20px 60px #6eae6ec7;
}

.main img {
  width: 100%;
  margin: auto;
  max-width: 1000px;
  filter: drop-shadow(1px 5px 20px black);
}

.main h1 {
  font-size: 3vw;
  color: white;
  margin: auto
}

.main p {
  color: white;
  line-height: 30px;
}

.main a {
  text-decoration: unset;
  color: white;
}

.video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  filter: blur(5px);
  float: left;
  top: 0;
  padding: none;
  position: fixed;
  z-index: -1;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info_item {
  display: flex;
  color: white;
  gap: 5px;
  align-items: center;
  width: 50%;
}
.info_item a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.info_item h3 {
  font-size: large;
  margin-left: 10px
}

.imgs {
  height: 30px;
  width: 30px;
  margin: 5px;
  background-color: #efd380;
  color: #0F230F;
  padding: 4px;
  border-radius: 5px;
  outline: 1px solid #0F230F;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.48);
}

.imgs:hover {
  box-shadow: inset 0px 0px 5px black;
}


@media only screen and (max-width: 600px) {
  .video {
    visibility: hidden;
  }

  .info_item {
    text-align: left;
  }

  .info {
    align-items: flex-start;
  }
}