.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(circle at center, #548b4dae, #0a2007c7);
  border-radius: 20px;
  outline: 2px solid #0F230F;
  padding: 20px;
  text-align: center;
  max-width: 800px;
  gap: 10px;
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.458);
}

.main img {
  width: 100%;
  margin: auto;
  max-width: 1000px;
}

.main h1 {
  font-size: 3vw;
  color: white;
  margin: auto
}

.main p {
  text-align: center;
  color: white;

}

.main a {
  text-decoration: unset;
  color: white;
}

.video {
  height: 100%;
  filter: blur(5px);
  float: left;
  top: 0;
  padding: none;
  position: fixed;
  z-index: -5;
}

@media only screen and (max-width: 600px) {
  .video {
    width: 100%;
    margin-top: 20px;
    height: unset;
    float: unset;
    top: unset;
    position: relative;
    border-radius: 5px;
    outline: 1px solid black;
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.458);
    filter: none;
  }
}
