.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main img {
  width: 100%;
  margin: auto;
}

.main h1 {
  font-size: 5vw;
  color: white;
  margin: auto
}

.main p {
  text-align: center;
  color: white;
}
