.content {
  background: radial-gradient(#6eae6e99 10%, #0F230Fc7 90%);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 20px;
  color: white;
  margin: 5px;
  width: 90%;
  min-width: 200px;
  max-width: 1000px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  gap: 10px;
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.5), 3px 3px 10px rgba(0, 0, 0, 0.5);
  line-height: 30px;
}

.content img {
  object-fit: cover;
  height: 650px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
}


.info h1 {
  font-size: 4rem;
  color: white;
  margin: 20px;
  text-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
    3px 3px 5px rgba(0, 0, 0, 0.5);
}

.info {
  text-align: center;
}

.item {
  display: flex;
  padding: 5px;
  align-items: center;
  color: white;
}

.item {
  text-decoration: unset;
  gap: 10px
}

.item svg {
  height: 30px;
  width: 30px;
  padding: 5px;
  color: #0F230F;
  background-color: #efd380;
  border-radius: 5px;
  outline: 1px solid black;
}

.item svg:hover {
  box-shadow: inset 1px 1px 5px black;
}

@media only screen and (max-width: 900px) {
  .content {
    flex-direction: column;
    width: 100%;
  }

  .content img {
    object-fit: cover;
    height: 500px;
    width: 100%;
  }
}